.container {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  border: 3px solid white;
}

.content {
  display: flex;
  font-size: 16px;
}

.left {
  padding: 5px;
  color: rgb(0, 119, 204);
  background-color: rgb(255, 255, 255);
}

.right {
  padding: 5px 10px;
  background: #0077cc;
  color: white;
}
