.bar {
  display: flex;
  padding: 8px;
}

.button {
  cursor: pointer;
  background: none;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  width: 16px;
  height: 16px;
  outline: none;
}
