.container {

  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.list {
  list-style-type: none;
  padding: 0;
}

.row {
  padding: 15px 0px 10px 0;
  border-bottom: 1px solid #7e868c;
}